body{
	margin:0;
	padding: 0;
	padding-top:50px;
	background-color: #fff;
}
/* body { */
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  /* background-color: #eee; */
/* } */

a{
	text-decoration: none;
}

.pg-header{
    height: 44px;
    background-color: #2459a2;
}

.header-menu{
	float:left;
}

.digg-logo{
	width: 121px;
	height: 23px;
	background: url(/static/images/logo.png) no-repeat;
	float:left;
	margin-top: 11px;
	margin-right: 7px;
}

a.tb{
	color: #c0cddf;
    	margin-left: -3px;
        padding: 0 13px 0 16px;
	display: inline-block;
	line-height:44px;
}

a.tb:hover{
	color: #fff;
	background-color: #204982;
}

a.active{
	color: #fff;
	background-color: #204982;
}



/* body  */

.pg-body{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	height: auto!important;
	min-height: 713px;
	padding: 6px 28px 60px;
	background-color: #fff;
}

.body-left{
	width: 630px;
	overflow: hidden;
	margin-top: 3px;
	float: left;
}

.body-right{
	width: 300px;
	padding-top: 4px;
	float: right;
}
.chat-box {
    position: relative;
    width: 298px;
    height: 480px;
    border-radius: 4px;
    border: 1px solid #d9edf7;
    background: #f9f9f9;
}
.chat-main-header {
    position: relative;
}
.chat-main-header div.active {
    color: #4b4f53;
    background: #F9F9F9;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
}
.chat-public-box {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 455px;
}
.chat-public-content {
    height: 369px;
    overflow-y: auto;
}
.chat-box .chat-sender {
    height: 85px;
    position: relative;
    border-top: 1px #d9edf7 solid;
}
.chat-box .chat-sender .inputer {
    height: 100%;
}
.btn-send {
	margin-bottom:29px;

}
msg{
	display:inline;
}
submit{
	display:inline;
}
left{
float:left;
}
.content-list {
    position: relative;
}
.content-list .item {
    clear: both;
    padding-top: 10px;
    border-bottom: 1px solid #dce7f4;
    overflow: hidden;
    position: relative;
}

.content-list .item .part1{
    line-height: 20px;
}
.content-list .item .part2{
	font-size: 12px;
	color: #787878;
	margin-top: 3px;
	margin-top: 2px\9;
	font-family: Arial,Helvetica,sans-serif;
}

.content-list .item .part3{
	padding-top: 6px;
	padding-top: 5px\9;
	color: #ccc;
	margin-bottom: 12px;
	margin-bottom: 13px\9;
}

.content-list .item .part4{
	padding-top: 6px;
	padding-top: 5px\9;
	color: black;

	margin-bottom: 12px;
	margin-bottom: 13px\9;
}
.comment-box {
    border: 1px solid #cbdcee;
    background-color: #f6f6f6;
    padding: 12px 15px 0;
    margin-bottom: 12px;
    width: 598px;
}


/* custem bootstart css */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #396bb3;
}
.navbar-inverse {
    background-color: #2459a2;
    border-color: #080808;
}
.navbar-fixed-top {
    z-index: 800;
}


/* custom login css */


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 遮罩层 和 加载层 */
#shade{
	background-color:gray;
	height:100%;
	width:100%;
	left:0;
	opacity:0.5;
	position:absolute;
	top:0;
	z-index:900;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
}
#loading{
	background-color:#fff;
	border:5px solid rgba(0,0,0, 0.4);
	height:400px;
	left:50%;
	margin:-200px 0 0 -200px;
	padding:1px;
	position:fixed !important; /* 浮动对话框 */
	position:absolute;
	top:50%;
	width:400px;
	z-index:901;
	border-radius:5px;
	display:none;
}
