<html>
    <head><title>Js login page</title></head>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/lib/jquery-1.6.4.js"></script>
    <body>
	<form id="jslogin_form" >
		<p> username: <input type='text' name="username" /></p>
		<p> password: <input type='password' name="password" /></p>
		<p><input type='button'id="js_login_btn" value="JS提交" /></p>
	</form>

	<script>
	$("#js_login_btn").click(function(){
		var data = $("#jslogin_form").serialize();
		alert(data);
		$.ajax({
			type:"POST",
			url:"/jslogin/",
			data:data,
			dataType:"json",
			success:function(result){
				if(result.status=="ok"){
				window.location.href="/";
				}
				else{
				alert("username does not match password!!!")
				}
			}
		});
	});
	</script>
    </body>
</html>
