<html>
    <head><title> register page</title></head>
    <body>
    	<a href="/admin/adduser/" target="blank">增加用户</a>
	    <table border="1px" cellspacing="0">
	    	<tr>
			<th><h3>工号</h3></th>
			<th><h3>姓名</h3></th>
			<th><h3>年龄</h3></th>
			<th><h3>性别</h3></th>
			<th><h3>部门</h3></th>
			<th><h3>岗位</h3></th>
			<th><h3>手机</h3></th>
			<th><h3>紧急联系人</h3></th>
			<th><h3>邮箱</h3></th>
			<th><h3>权限</h3></th>
		</tr>
	    {% for user in user_list %}
	    	<tr>
			<th><h3>{{user.card_id}}</h3></th>
			<th><h3>{{user.username}}</h3></th>
			<th><h3>{{user.age}}</h3></th>
			<th><h3>{{user.sex}}</h3></th>
			<th><h3>{{user.department}}</h3></th>
			<th><h3>{{user.position}}</h3></th>
			<th><h3>{{user.mobile}}</h3></th>
			<th><h3>{{user.emergency_contact}}</h3></th>
			<th><h3>{{user.email}}</h3></th>
			<th><h3>{{user.perm}}</h3></th>
		</tr>
	    {% end %}
	    </table>
    </body>
</html>
