<html>
    <head><title> adduser page</title></head>
    <body>
	    {% if err_msg %}
	     <h1>{{err_msg}}</h1>
	    {% end %}
    <form action="." method="POST">
            {% module xsrf_form_html() %}
            <p> username: <input type='text' name="username" value="{{ user.username }}"/></p>
            <p> age: <input type='text' name="age" value="{{ user.age }}"/></p>
            <p> sex:
            <select name="sex">
                <option value="1" selected=True>Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>
            </p>
            <p> department: <input type='text' name="department" value="{{ user.department }}" /></p>
            <p> position: <input type='text' name="position" value="{{ user.position }}"/></p>
            <p> mobile: <input type='text' name="mobile" value="{{ user.mobile }}"/></p>
            <p> emergency_contact: <input type='text' name="emergency_contact" value="{{ user.emergency_contact }}"/></p>
            <p> email: <input type='text' name="email" value="{{ user.email }}"/></p>
	    <p>perm: <select name="perm">
		    {% for i in perm_list  %}
			    <option value="{{i}}">{{i}}</option>
		    {% end %}
            </select>
	    </p>
            <p><input type='submit' value="添加" /></p>
        </form>
    </body>
</html>
