<html>
    <head><title> main page</title></head>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/lib/jquery-1.6.4.js"></script>
    <body>
    	<a href="/admin/adduser/" target="blank">增加用户</a>
	    <table border="1px" cellspacing="0">
		    <select class="sort">
		    	<option name="sort" value="create_time">时间正序</option>
		    	<option name="sort" value="-create_time">时间倒序</option>
		    	<option name="sort" value="age">年龄正序</option>
		    	<option name="sort" value="-age">年龄倒序</option>
		    </select>
		    <select class="search">
		    	<option name="card_id" value="card_id">工号</option>
		    	<option name="username" value="username">用户名</option>
		    	<option name="mobile" value="mobile">手机</option>
		    	<option name="email" value="email">邮件</option>
		    	<option name="perm" value="perm">权限</option>
		    	<option name="status" value="status">状态</option>
		    	<option name="department" value="department">部门</option>
		    	<option name="position" value="position">职位</option>
		    </select>
		    <input type="text" class="search_value" name="search_value" />
		    <input type="button" class="sure" value="确定"/>
	    	<tr>
			<th><h3>工号</h3></th>
			<th><h3>姓名</h3></th>
			<th><h3>年龄</h3></th>
			<th><h3>性别</h3></th>
			<th><h3>部门</h3></th>
			<th><h3>岗位</h3></th>
			<th><h3>手机</h3></th>
			<th><h3>紧急联系人</h3></th>
			<th><h3>邮箱</h3></th>
			<th><h3>权限</h3></th>
			<th><h3>用户状态</h3></th>
			<th><h3>操作</h3></th>
		</tr>
	    {% for user in user_list %}
	    	<tr>
			<th class="card_id"><h3>{{user.card_id}}</h3></th>
			<th><h3>{{user.username}}</h3></th>
			<th><h3>{{user.age}}</h3></th>
			<th><h3>{{sex_dict.get(user.sex)}}</h3></th>
			<th><h3>{{user.department}}</h3></th>
			<th><h3>{{user.position}}</h3></th>
			<th><h3>{{user.mobile}}</h3></th>
			<th><h3>{{user.emergency_contact}}</h3></th>
			<th><h3>{{user.email}}</h3></th>
			<th><h3>{{user.perm}}</h3></th>
			<th><h3>{{user_status_dict.get(user.status)}}</h3></th>
			{% if user.status == 2 %}
			<th><h3><input type="button" class="check_user" value="通过" name="pass">
				<input type="button" class="check_user" value="不通过" name="nopass"></h3></th>
			{% elif user.status == 1 %}
			<th><h3><input type="button" class="check_user" value="禁用" name="forbid">
				<input type="button" class="check_user" value="删除" name="delete"></h3></th>
			{% elif user.status == 4 %}
			<th><h3><input type="button" class="check_user" value="启用" name="active"></h3></th>
			{% else %}
			<th><h3></h3></th>
			{% end %}
		</tr>
	    {% end %}
	    </table>
	<script>
	$(".check_user").click(function(){
			var check_user  = $(this).attr("name");
			console.log(name)
			var card_obj = $(this).parent().parent().siblings(".card_id").find("h3")
			console.log(card_obj)
			var card_id = card_obj.html();
		$.ajax({
			type:"POST",
			url:"/admin/checkuser/",
			data:{"check_user":check_user,"card_id":card_id},
			dataType:"json",
			success:function(result){
				if(result.status=="ok"){
				window.location.href="/admin/";
				}
				else{
				alert("username does not match password!!!")
				}
			}
		});
	});
	$(".sure").click(function(){
			var sort = $(".sort").val();
			var search = $(".search").val()
			var search_val = $(".search_value").val()
			window.location.href="/admin/userlist/" + "?sort=" + sort + "&search=" + search	+ "&search_val=" + search_val;
	});
	</script>
    </body>
</html>
