<html>
    <head><title> user info page</title></head>
    <body>
    <form action="." method="POST">
            {% module xsrf_form_html() %}
	<p> 类型:
            <select name="ttype">
		<option value="0">请假</option>
                <option value="1">加薪</option>
                <option value="2">报销</option>
            </select></p>
        <p> 标题: <input type='text' name="title" /></p>
	<p> 内容: <textarea name="content" rows="5" cols="80"/></textarea></p>
        <p><input type='submit' value="更改" /></p>
        </form>
    </body>
</html>
