<html>
    <head><title> register page</title></head>
    <body>
    <form action="." method="POST"> 
            {% module xsrf_form_html() %}
            <p> card_id: <input type='text' name="card_id" /></p>
            <p> username: <input type='text' name="username" /></p>
            <p> password: <input type='password' name="password" /></p>
            <p> try password: <input type='password' name="password1" /></p>
            <p> age: <input type='text' name="age" /></p>
            <p> sex:
            <select name="sex">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Other</option>
            </select>
            </p>
            <p> department: <input type='text' name="department" /></p>
            <p> position: <input type='text' name="position" /></p>
            <p> mobile: <input type='text' name="mobile" /></p>
            <p> emergency_contact: <input type='text' name="emergency_contact" /></p>
            <p> email: <input type='text' name="email" /></p>
            <p><input type='submit' value="注册" /></p>
        </form>
    </body>
</html>
