<html>
    <head><title>review  transaction list  page</title></head>
    <body>
	<table border='1px' cellspacing='0'>
		<tr>

			¦<th>类型</th>
			¦<th>提交人</th>
			¦<th>标题</th>
			¦<th>内容</th>
			¦<th>操作</th>
		</tr>

	    {% for transaction in transaction_list %}
	    	<tr>
			<td class='transaction_id' name="{{transaction.get('id') }}">
			<p>{{transaction_type_dict.get(transaction.get("ttype"))}}</p></td>
			<td><p>{{ transaction.get('user') }}</p></td>
			<td><p>{{transaction.get("title")}}</p></td>
			<td><p>{{transaction.get("content")}}</p></td>
			<td>
				<p>
				<input type='button' class='review' value='审核通过' name='pass'/>
				<input type='button' class='review' value='审核不通过' name='nopass'/>
			       </p>
			</td>
		    <br/>
		</tr>
	    {% end %}
    </body>
</html>
