<html>
    <head><title> user info page</title></head>
    <body>
    <form action="." method="POST">
            {% module xsrf_form_html() %}
            <p> username: {{ user.username }}</p>
            <p> age: {{ user.age }}</p>
            <p> sex: {{ sex_dict.get(user.sex) }}</p>
            <p> department: {{ user.department }}</p>
            <p> position: {{ user.position }}</p>
            <p> mobile: <input type='text' name="mobile" value="{{ user.mobile }}"/></p>
            <p> emergency_contact: <input type='text' name="emergency_contact" value="{{ user.emergency_contact }}"/></p>
            <p> email: {{ user.email }}</p>
            <p><input type='submit' value="更改" /></p>
        </form>
    </body>
</html>
